* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 62.4%;
  font-family: "poppins", sans-serif;
}

:root {
  --base-color: rgb(24, 23, 25);
  --red-color : #b11e1e;
  --blue-color : rgb(33, 33, 187);
  --text-white: rgb(255, 255, 255);
  --box-shadow: rgba(0, 0, 0, 0.407);
}
header {
  box-shadow: 0.1rem 0.1rem 0.5rem var(--box-shadow);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header .nav-items {
  display: flex;
}
header h2 span{
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
}
header h2 span:nth-child(2){
  transform: translate(10px,-5px);
}
header .nav-items li {
  margin: 0 1rem;
}

header a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--base-color);
}
body.default .hero{
  background-color: var(--base-color);
}

body.red .hero{
  background-color: var(--red-color);
}

body.blue .hero{
  background-color: var(--blue-color);

}
.hero {
  height: 60rem;
  padding: 2rem 3rem;
  margin: 6rem 0;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}


.hero h3 {
  font-size: 4rem;
  color: var(--text-white);
}
.color-changer{
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.color-changer p{
  font-size: 1.8rem;
  margin: 0 2rem;
  box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.403);
  padding: .5rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  cursor: pointer;
}
main{
  padding: 2rem ;
}
table{
  width: 100%;
}
table th,table td{
  font-size: 2rem;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  text-align: center;
  padding: 3rem;
  background-color: rgba(161, 161, 161, 0.325);

  margin-top: 2rem;
}

footer p {
  font-size: 1.5rem;
  color: #1f1d1d;
}