* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 62.4%;
  font-family: "Poppins", sans-serif;
}
header {
  box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.407);
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #fff;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

header .nav-items {
  display: flex;
}
header h2 span {
  font-size: 2rem;
  text-transform: uppercase;
  display: block;
  /* font-family: 'Poppins',sans-serif; */
  /* letter-spacing: 0.15rem; */
}
header h2 span:nth-child(2) {
  transform: translate(1rem, -.5rem);
}
header .nav-items li {
  margin: 0 1rem;
}

header .nav-items a {
  text-decoration: none;
  font-size: 2rem;
  color: #000;
}

.hero {
  height: 60rem;
  padding: 2rem 3rem;
  /* background-color: rgb(68, 0, 255); */
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-image: url("./images/blob.png");
  background-size: 15%;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.hero article {
  grid-column: 1/6;
}
.hero-lead_text {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
}
.hero-lead_text :nth-child(2) {
  text-transform: uppercase;
  font-size: 6rem;
}
.hero-lead_text span {
  display: block;
}

.hero-text {
  font-size: 2rem;
  margin: 1rem 0;
}

.hero-img_grid {
  grid-column: 7/13;
  display: flex;
}

.hero-img_grid .img-container {
  width: 30rem;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.hero-img_grid .img-container:nth-child(even) {
  transform: translateY(5rem);
}
/* curated picks section */

.curated-picks {
  padding: 1rem 3rem;
  /* background-color: red; */
  margin: 4rem 0;
}
.curated-picks h3 {
  font-size: 3rem;
  font-family: "Poppins", sans-serif;
  margin: 2rem 0;
}
.curated-picks article {
  margin: 2rem 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.curated-picks_card {
  height: 38rem;
  width: 38rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: end;
  padding: 2rem;
  box-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 0.459);
  grid-column: 1/5;
  background-image: url("./images/bestSeller.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 1.5rem 0;
}
.curated-picks_card.shop-men {
  background-image: url("./images/shopMen.jpg");
  background-position: top;
}

.curated-picks_card.shop-women {
  background-image: url("./images/shopWomen.jpg");
  background-position: top;
}

.curated-picks_card.shop-casual {
  background-image: url("./images/shopCasual.jpg");
  background-position: top;
}
.curated-picks_card h4 {
  background-color: #fff;
  width: 100%;
  border-radius: 15px;
  padding: .5rem 1.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.25s ease-in;
}

.curated-picks_card span {
  display: block;
  /* font-weight: 700; */
}

.curated-picks_card svg {
  width: 4rem;
  height: 3rem;
  transition: all 0.25s ease-in;
}
.curated-picks_card h4:hover {
  transform: scaleX(1.1);
  transform-origin: center;
}

/* Promo section */
.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo article {
  padding: 5rem;
  background-color: rgb(24, 23, 25);
  width: 50%;
}

.promo aside.banner {
  width: 50%;
  height: 40rem;
  background-color: red;
  background-image: url("./images/promo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.promo aside.banner::after{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: #000;
  opacity: 0.2;
}
.promo h3 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
}
.promo p {
  margin: 2.5rem 0;
}
.promo p span {
  font-size: 5.6rem;
  color: #fff;
  /* font-weight: bold; */
  display: block;
}

.promo button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 20rem;
  border-radius: 1rem;
  border: none;
}

.promo button span {
  display: block;
  font-size: 2rem;
}

.promo svg {
  width: 4rem;
  height: 3rem;
  transition: all 0.25s ease-in;
}

.subscribe{
  width: 60rem;
  margin: 6rem auto;
  text-align: center;
}

.subscribe h3{
  font-size: 3rem;
  line-height: 3rem;
}

.subscribe p{
  font-size: 2.4rem;
  margin: 2rem;
}
.subscribe form{
  display: flex;
  align-items: center;
}
.subscribe label{
 display: block;
 width: 80%;
 overflow: hidden;
 margin-right: 0.5rem;

}
.subscribe input{
  width: 100%;
  height: 100%;
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
 border-radius: 1rem;
}
.subscribe button{
  background-color: rgb(24, 23, 25);
  color: #fff;
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  display: inline-block;
  border: none;
  border-radius: 1rem;
}
footer {
  text-align: center;
  padding: 3rem;
  background-color: rgba(161, 161, 161, 0.325);

  margin-top: 2rem;
}

footer p {
  font-size: 1.5rem;
  color: #1f1d1d;
}
@media screen and (max-width: 900px) {
  .hero {
    height: 70rem;
    padding: 1.5rem 1rem;
    margin: 8rem 0;
    gap: 0.5rem;
    background-size: 20%;
    background-position: bottom right;
  }
  .hero-img_grid {
    grid-row: 1/2;
    grid-column: 1/13;
    justify-self: center;

  }
 
  .hero article {
    grid-column: 1/13;
    grid-row: 2/2;
    margin: 3rem;
  }
}

@media screen and (max-width: 830px) {
  .curated-picks_card {
    height: 30rem;
    width: 30rem;
    border-radius: 1.5rem;
  }
  .subscribe{
    width: auto;
    margin: 6rem auto;
    text-align: center;
    padding: 0 2rem;
  }


}

@media screen and (max-width: 670px) {
  .curated-picks_card {
    height: 32rem;
    width: 100%;
    background-position: center;
  }
.promo{
  display: block;
}
  .promo article {
    padding: 3.5rem;
    width: 100%;
  }
  
  .promo aside.banner {
    width: 100%;
    height: 35rem;
    background-attachment: fixed;
  }

  .hero {
    margin-bottom: 4rem;
   
  }

  .hero article{
    margin: 0;
  }
  .hero-img_grid .img-container {
    width: auto;
  }

  .hero-lead_text {
    font-size: 4rem;
  }
  .hero-lead_text :nth-child(2) {
    font-size: 4rem;
  }

  .hero-text {
    font-size: 1.8rem;
  }

  .subscribe form{display: block;}
  .subscribe label{
    width: 100%;
  }
  .subscribe button{
    width: 100%;
    margin: 1rem 0;
  }

  .subscribe h3{
    font-size: 2.6rem;
    line-height: 2.5rem;
  }
  
  .subscribe p{
    font-size: 2rem;
  }
}
